name: Test SSH Connection

on:
  workflow_dispatch:   

jobs:
  test-ssh:
    runs-on: ubuntu-latest

    steps:
      - name: Test SSH connection
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 192.168.50.101
          username: codes
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            echo "✅ Conexión SSH exitosa!"
            hostname
            whoami
            pwd
